/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fundo neutro */
}

/* Caixa principal */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a Navbar */
.navbar {
    background-color: #343a40; /* Bootstrap usa essa cor por padrão para navbar-dark */
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #ffc107; /* Cor amarela destacada */
}

/* Estilos para os Títulos */
h1, h2, h3 {
    color: #343a40;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

/* Ícones alinhados com o texto */
h2 i {
    margin-right: 10px;
    color: #343a40;
}

/* Botões - centralizar e espaçar */
#start-bot-btn,
#stop-bot-btn {
    margin: 10px;
    width: 150px; /* Largura consistente para ambos */
    font-size: 1rem;
}

#status {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Personalização dos botões */
.btn-custom {
    background-color: #28a745;
    color: white;
}

.btn-custom:hover {
    background-color: #218838;
}

/* Estilo para as chips de palavras-chave */
.keyword-chip {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.3rem;
    color: white;
    border-radius: 0.5rem;
    background-color: #17a2b8;
    font-size: 0.9rem;
}

.keyword-chip button {
    background: none;
    border: none;
    color: #dc3545; /* Vermelho Bootstrap */
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.keyword-chip button:hover {
    color: #c82333; /* Cor mais escura ao passar o mouse */
}

/* Estilos para Alertas */
.alert {
    display: inline-block;
    margin: 10px 0;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

/* Rodapé ajustado */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #dee2e6;
    color: #495057;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0;
}

footer p a {
    color: #ffc107;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* Estilos para a página de login */
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 150px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.input-group-text {
    background-color: transparent;
    border-right: none;
}

.form-control {
    border-left: none;
}

.input-group-text, .form-control {
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
}