{% extends "dashboard.html" %}

{% block admin_content %}
<h2 class="mt-5">Gerenciamento de Usuários</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome de Usuário</th>
            <th>E-mail</th>
            <th>Admin</th>
            <th>Assinante</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.is_admin %}
                    <span class="badge badge-success">Admin</span>
                {% else %}
                    <span class="badge badge-secondary">Usuário</span>
                {% endif %}
            </td>
            <td>
                {% if user.is_subscriber %}
                    <span class="badge badge-success">Assinante</span>
                {% else %}
                    <span class="badge badge-danger">Não Assinante</span>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('main.toggle_admin', user_id=user.id) }}" class="btn btn-warning btn-sm">
                    {% if user.is_admin %}
                        Remover Admin
                    {% else %}
                        Tornar Admin
                    {% endif %}
                </a>
                <a href="{{ url_for('main.reset_password', user_id=user.id) }}" class="btn btn-info btn-sm">Redefinir Senha</a>
                <a href="{{ url_for('main.edit_email', user_id=user.id) }}" class="btn btn-secondary btn-sm">Alterar E-mail</a>
                <a href="{{ url_for('main.grant_access', user_id=user.id) }}" class="btn btn-success btn-sm">Liberar Acesso</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
